{% extends "base.html" %}

{% block title %} My Portfolio {% endblock %}

{% block content %}
<section class="intro" id="home">
    <h1 class="section_title section__title--intro">
        Hi! I am <strong>Deepak Kumar</strong>
    </h1>
    <p class="section__subtitle section__subtitle--intro">Full Stack Developer</p>
    <img src="../static/img/mying.jpg" class="intro__img">
</section>

<section class="my-services" id="services">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
        <div class="service">
            <h3>Designe+Development</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit illo ratione in veritatis velit odit sapiente ab reprehenderit voluptatem accusantium assumenda architecto aspernatur temporibus porro consequatur, blanditiis provident nihil ut.</p>
        </div>

        <div class="service">
            <h3>E-Commerce</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, modi natus? Nobis dolore impedit vel nesciunt temporibus! Error voluptatum nam sint iusto mollitia non iste nisi cum! Suscipit, harum omnis?
            </p>
        </div>

        <div class="service">
            <h3>Machine Learning</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus repellat laudantium, modi laborum tempore praesentium, dolorem placeat illum omnis ratione consequatur temporibus, vel earum dolor esse expedita pariatur ex voluptatibus!
                </p>
        </div>
    </div>
    <a href="" class="btn">My Work</a>
</section>


<section class="about-me" id="about">
    <h2 class="section__title section__title-about">Who I am!</h2>
    <p class="section__subtitle section__subtitle--about">Developer and Hacker</p>
    <div class="about__me--body">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iste alias ab rem quia aperiam cupiditate nihil minus temporibus eaque illum, in dolores, voluptatum magnam vel saepe, similique iusto ducimus.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, vero consequatur quo vel placeat voluptates odit. Ratione quae tenetur, totam, facilis eos ad repudiandae eligendi sapiente doloribus, reiciendis quod ipsa.</p>

    </div>

    <img src="../static/img/mying.jpg" alt="" class="about-me__img">
</section>

<section class="my-work" id="work">
    <h2 class="section__title">
        My work
    </h2>
    <p class="section__subtitle--work">Lorem ipsum dolor sit.</p>


    <div class="portfolio">
        <a href="#" class="portfolio__item">
            <img src="../static/img/devdeep.jpg" alt="" class="portfolio__img">
        </a>

        <a href="#" class="portfolio__item">
            <img src="../static/img/devdeep.jpg" alt="" class="portfolio__img">
        </a>

        <a href="#" class="portfolio__item">
            <img src="../static/img/devdeep.jpg" alt="" class="portfolio__img">
        </a>

        <a href="#" class="portfolio__item">
            <img src="../static/img/devdeep.jpg" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="../static/img/devdeep.jpg" alt="" class="portfolio__img">
        </a>
        <a href="#" class="portfolio__item">
            <img src="../static/img/devdeep.jpg" alt="" class="portfolio__img">
        </a>
    
    </div>
</section>


{% endblock %}

